.App {
    height: 100vh;
    border-radius: 50%;
    width: 100vh;
    margin: 0 auto;
    /* background-color: #b9fa6ed1; */
    background-color: #3194c5d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4.5px -8px #add8;
}

.Container {
  background-image: url("./assets/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px black);
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.App img {
  width: 50px;
}


.App-top {
  font-weight: bold;
  align-self: center;
}

.App-top,
.App-middle>div,
.App-bottom {
  cursor: pointer;
  margin: 3rem;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid transparent;

}

.App-top:hover,
.App-middle>div:hover,
.App-bottom:hover {
  /* color: #d54184; */
  box-shadow: 5px 5px 4px #9cd45c;
}

.App-middle {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.App-bottom {
  align-self: center;
  font-weight: bold;
}

table img {
  width: 20px;
}

div>h5 {
  white-space: break-spaces !important;
}

.figure-caption {
  text-align: center;
}

.modal-footer {
  justify-content: start;
}

.custom-card {
  /* display: inline-block; */
  width: 14rem;
  /* border-color: #3194c5d1; */
  /* border: 2px solid #3194c5d1; */
  box-shadow: 3px 3px 4px #9cd45c;
}

.custom-card p {
  white-space: pre-line;
}

code {
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.2rem;
  /* column-gap: 10px; */
  justify-content: space-around;
  align-items: stretch;

}

.card-footer {
  display: flex;
  justify-content: space-around;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: justify;
}

.figure-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: space-between;
  align-items: stretch;
  display: inline-block;
}

.figure {
  margin: 0 1rem;
}

.figure-img {
  width: 4rem;
  max-height: 4rem;
}

.project-logo {
  height: 120px;
  width: auto;
  margin: 5px auto;
  display: block;
  max-width: 90%;
}
.about-profile {
  /* display: block; 
  margin: 0 auto; */
  border-radius: 50%;
  width: 10rem;
  float: left;
  margin: 5px 15px;
}


.about-social {
  margin: 25px;
}

p {
  text-align: justify;
}

@media(max-width: 850px), (max-height: 570px) {
  .App {
      width: 90vw;
      border-radius: 0;
      justify-content: flex-start;
      height: fit-content;
      padding: 20px 0;
      position: relative;
      top: 30vh;
      min-width: 290px;
  }

  .App-top,
  .App-middle>div,
  .App-bottom {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: 40%;
    align-self: start;
    margin-left: 10px;
    min-width: 300px;
  }

  .App-top img,
  .App-middle>div img,
  .App-bottom img {
    margin-right: 14px;
  }

  .App-middle {
    flex-direction: column;
    align-items: center;
  }
  div>h5 {
    white-space: nowrap !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px !important;
  }
}

@media (max-width: 650px) {
  .modal-dialog {
    margin: 0px !important;
  }

  .modal {
    padding-left: 0px !important;
  }

  .custom-card {
    width: 100%;
  }

  .project-logo {
    height: 80px;
  }
  /* .figure-img {
    width: 70px; 
    height: 70px;
  } */
}